body {
    width: 100%;
    height: 100vh;
    /* display: grid;
    grid-template-areas:
        "header header"
        "sidebar menu"
        "sidebar content"; */
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 100%;
    margin: 0px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    overflow: hidden;
    /* color: white; */
}

* {
    /* color: white; */
    box-sizing: border-box;
}

header.gridarea {
    grid-area: header;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
}
header.gridarea .breadcrumbs {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 24px;
}
header.gridarea .breadcrumbs .title {
    color: #666;
}

.gridarea h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    /* color: #333; */
}

menu.gridarea {
    grid-area: menu;
    box-shadow: 0px 1px 6px 0px #e0e0e0cc;
    /* background-color: #ccc; */
    padding: 10px;
    margin: 0px;
}

ul.gridarea {
    grid-area: sidebar;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    z-index: 10;
}

div.gridarea {
    grid-area: content;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    z-index: -1;
}

div.groupingcolumn {
    min-height: fit-content;
    width: fit-content;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 1px 6px 0px #e0e0e0cc;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.groupingcolumncontent::after {
    content: "";
    grid-area: resize;
    /* position: absolute; */
    /* margin-left: calc(100% - 12px); */
    width: 12px;
    height: 12px;
    background-color: red;
    transform: translateY(12px) translateX(12px);
}

div.groupingcolumncontent {
    display: grid;
    grid-template-areas:
        "header checkbox"
        "content content"
        "padding resize";
    grid-template-columns: auto 12px;
    gap: 6px;
    min-width: 300px;
    width: 300px;
    resize: horizontal;
    overflow: auto;
    padding: 12px;
    /* padding-bottom: 0px; */
}

div.groupingcolumn h1 {
    grid-area: header;
    margin: 0;
    font-size: 20px;
    height: fit-content;
}

div.groupingcolumn input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
div.groupingcolumn input[type="checkbox"] ~ span {
    display: inline-block;
    width: 12px;
    height: 12px;
    transform: translateY(-1px);
}
div.groupingcolumn input[type="checkbox"] ~ span:hover {
    background: #e0e0e0;
}

div.groupingcolumn input[type="checkbox"]:checked ~ span::after {
    content: "";
    display: block;
    margin: 3px;
    width: 4px;
    height: 4px;
    border: 0px solid #333;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
}

div.groupingcolumn img {
    grid-area: content;
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.2;
}
*:active, *:focus {
    outline: none;
}
