body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar menu"
        "sidebar content";
    grid-template-columns: 300px auto;
    grid-template-rows: auto auto 100%;
    margin: 0px;
    background-color: #fff;
    font-family: Arial, sans-serif;
    /* color: white; */
}

* {
    /* color: white; */
    box-sizing: border-box;
}

header.gridarea {
    grid-area: header;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
    background-color: #fff;
    z-index: 10;
}
header.gridarea .breadcrumbs {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 24px;
}
header.gridarea .breadcrumbs .title {
    color: #666;
}

.gridarea h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    /* color: #333; */
}

menu.gridarea {
    grid-area: menu;
    box-shadow: 0px 1px 6px 0px #e0e0e0cc;
    /* background-color: #ccc; */
    padding: 10px;
    margin: 0px;
}

ul.gridarea {
    grid-area: sidebar;
    border-right: 1px solid #e0e0e0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    z-index: 10;
}

div.gridarea {
    grid-area: content;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    z-index: -1;
}