div.groupingcolumn {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: fit-content;
    /* background-color: #61616157; */
    backdrop-filter: brightness(1.5) blur(30px);
    border: 1px solid #ffffff3b;
    border-radius: 14px;
    box-shadow: 0px 1px 6px 0px #00000052;
    padding: 12px 12px 0px 12px;
    transition: all 0.2s ease;
    fill: #c4bbbb;
}

div.groupingcolumn:hover {
    box-shadow: 0px 4px 12px 0px #00000066;
}
div.groupingcolumn:has(*:focus) {
    border: 1px solid #b5b5b536;
    box-shadow: 0px 1px 6px 0px #0000001c;
}