/* #C11515 */

body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar menu"
    "sidebar content";
  grid-template-columns: 248px auto;
  grid-template-rows: auto 48px 100%;
  margin: 0px;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
  overflow: hidden;
  /* color: white; */
}

* {
  /* color: white; */
  box-sizing: border-box;
}

.moveable {
  position: absolute;
}

header.gridarea {
  grid-area: header;
  display: flex;
  /* border-bottom: 1px solid #ececec; */
  align-items: center;
  background-color: #ececec;
  z-index: 3;
}

#homeButton {
  font-size: 28px;
  /* height: 48px; */
  width: auto;
  padding: 14px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header.gridarea #tabs {
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 24px;
}

header.gridarea #tabs .title {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #666;
  padding: 0px 12px;
}

.gridarea h1 {
  margin: 0;
  font-size: 24px;
  flex-grow: 1;
  /* color: #333; */
}

menu.gridarea {
  grid-area: menu;
  box-shadow: 0px 1px 6px 0px #e0e0e0cc;
  display: flex;
  gap: 30px;
  background-color: #fff;
  padding: 12px;
  margin: 0px;
  z-index: 2;
}

form.inline-radio {
  width: fit-content;
  height: 24px;
  display: flex;
  background: #f5f5f5;
  border-radius: 6px;
  font-size: 13px;
}
form.inline-radio label {
  height: 24px;
  padding: 0px 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* background: #e0e0e0; */
  border-radius: 6px;
  transform: scale(0.9);
  transition: transform 0.15s;
}
form.inline-radio label:has(input:checked) {
  background: #fff;
  transform: scale(1);
  box-shadow: 0px 1px 3px 0px #0000000f;
}

form.inline-radio label:has(input:not(:checked)) + label:has(input:not(:checked)) {
  padding-left: 8px;
}

form.inline-radio label:has(input:not(:checked)) + label:has(input:not(:checked))::before {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background: #dfdfdf;
  transform: translateX(-9px);
}

form.inline-radio label input[type="radio"] {
  display: none;
}

form.inline-input {
  width: fit-content;
  height: 24px;
  display: flex;
  gap: 9px;
  font-size: 13px;
}
form.inline-input label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
form.inline-input label span {
  font-size: 14px;
  color: #838383;
}
form.inline-input label input {
  width: 64px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 9px;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
}

ul.gridarea {
  grid-area: sidebar;
  border-right: 1px solid #ececec;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 4;
}

div.gridarea {
  grid-area: content;
  width: 100%;
  height: 100%;
  padding: 10px;
  /* background: #f9f9f9; */
  overflow: scroll;
  background: url('Peg.png') repeat center center fixed;
}

div.gridarea > .moveable {
  box-shadow: #0000000a 0px 0px 6px 1px;
  transition: box-shadow 0.15s;
}
div.gridarea > .moveable:active {
  z-index: 1000;
  box-shadow: #0000000f 0px 0px 12px 3px;
}
div.groupingcolumn {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  /* width: fit-content; */
  min-width: 324px;
  width: 324px;
  background: #fff;
  /* background-color: #dddddd24; */
  /* backdrop-filter: brightness(1.25) blur(1.5px); */
  /* border: 1px solid #ffffff3b; */
  /* border-radius: 12px; */
  border-radius: 6px;
  padding: 0px 12px;
  /* transition: all 0.2s ease; */
}

span.moveicon {
  display: inline-block;
  width: 48px;
  height: 12px;
  /* background: #ffffff00; */
  border-radius: 2px;
  margin: 0px auto;
  cursor: move;
  z-index: 2;
}
span.moveicon::after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  margin: 4px 12px;
  background-color: #dcdcdc;
  border-radius: 6px;
}

span.resizeicon {
  width: 12px;
  height: 12px;
  margin-left: 100%;
  border-bottom-right-radius: 12px;
  cursor: nw-resize;
}

span.resizeicon::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin: 4px;
  background:#dcdcdc;
  border-radius: 2px;
}

div.groupingcolumn header {
  height: 18px;
  display: flex;
  gap: 8px;
  align-items: top;
  margin-bottom: 12px;
}

div.groupingcolumn:has(header > label input[type="checkbox"]:checked) header {
  margin-bottom: 0px;
}

div.groupingcolumn header label {
  display: block;
  grid-area: checkbox;
}

div.groupingcolumn header h1 {
  display: block;
  margin: 0px;
  font-size: 24px;
  height: fit-content;
  transform: translateY(-7px)
}

div.groupingcolumn input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

div.groupingcolumn input[type="checkbox"]~span {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  transition: all 0.2s ease;
}

div.groupingcolumn input[type="checkbox"]~span:hover {
  background: #f5f5f5;
}

div.groupingcolumn input[type="checkbox"]~span:hover::after {
  content: "";
  display: block;
  transform: translateY(3px) translateX(3px);
  width: 6px;
  border: 0px solid #838383;
  border-width: 0px 0px 1px 0px;
  margin: 5.5px 3px 3px 3px;
  transition: all 0.2s ease;
}

div.groupingcolumn input[type="checkbox"]:checked~span::after {
  content: "";
  display: block;
  margin: 5.5px 0px 0px 6.5px;
  width: 4px;
  height: 4px;
  border: 0px solid #838383;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
}

div.groupingcolumncontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  min-width: 300px;
  overflow: hidden;
  /* padding: 1px; */
  /* padding-bottom: 0px; */
}
  
div.groupingcolumncontent,
div.groupingcolumncontent * {
  /* transition: all 0.2s ease; */
  border-radius: 2px;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

div.groupingcolumn:has(header > label input[type="checkbox"]:checked) div.groupingcolumncontent,
div.groupingcolumn:has(header > label input[type="checkbox"]:checked) div.groupingcolumncontent * {
  opacity: 0;
  height: 0px;
  filter: blur(2px);
  /* display: none; */
  z-index: -1000;
}
div.groupingcolumncontent .moveicon {
  display: none;
}

div.groupingcolumncontent .moveable {
  position: relative;
}

div.groupingcolumncontent img {
  grid-area: content;
  width: 100%;
  height: auto;
  object-fit: cover;
}

*:active,
*:focus {
  outline: none;
}
