ul.gridarea {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
  margin: 0;
}

ul.gridarea li {
  margin: 0px;
  transition: transform 0.15s;
}
ul.gridarea li:has(.fa-solid):hover {
  transform: scale(0.95);
}

ul.gridarea section {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 12px;
  list-style-type: none;
  margin: 0;
}

ul.gridarea li > * {
  border: 1px solid #e1e1e13b;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 0px #00000010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.gridarea li i.fa-solid {
  width: calc(200px / 3);
  height: 48px;
  /* padding: auto; */
}

ul.gridarea .resizeicon {
  display: none;
}

.textnote {
  display: flex;
  flex-direction: column;
  width: 224px;
  height: 224px;
  padding: 0px 12px;
  background: #fff;
  border-radius: 6px;
}

ul.gridarea .textnote textarea.note {
  height: 212px;
}

.textnote textarea.note {
  grid-column-end: span 3;
  width: 100%;
  min-height: 176px;
  height: 100%;
  padding: 0px;
  resize: none;
  border: none;
  margin: 0;
  background: none;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
}

#notePlaceholder {
  width: 224px;
  height: 224px;
  background: #f5f5f5;
  box-shadow: none;
  font-size: 42px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

#notePlaceholder span {
  height: 25px;
}
