ul.gridarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
}

ul.gridarea li {
    margin: 0px;
}

ul.gridarea section {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 12px;
    list-style-type: none;
    margin: 0;
}

ul.gridarea li * {
    border: 1px solid #a9a9a947;
    border-radius: 6px;
    box-shadow: 0px 1px 6px 0px #0000001c;
}

ul.gridarea li i.fa-solid {
    width: 64px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: auto; */
}

ul.gridarea li textarea.note {
    grid-column-end: span 3;
    width: 100%;
    min-height: 176px;
    padding: 3px;
    resize: none;
}